<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/header2.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <h2 class="title">精密馬達</h2>
                <p class="category">Precise Motor</p>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ngb-tabset [justify]="'center'" type="tabs">
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                混合式步進馬達
                            </ng-template>
                            <ng-template ngbTabContent>
                                <div class="row">   
                                    <div class="col-md-12 ml-auto mr-auto">
                                        <div class="row collections">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-4">
                                                <img src="assets/img/products/p4/1-1-1.jpg" alt="" class="img-raised">
                                            </div>
                                            <div class="col-md-6">
                                                <img src="assets/img/products/p4/1-1-2.jpg" alt="" class="img-raised">
                                            </div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-4">
                                                <img src="assets/img/products/p4/1-2-1.jpg" alt="" class="img-raised">
                                            </div>
                                            <div class="col-md-6">
                                                <img src="assets/img/products/p4/1-2-2.jpg" alt="" class="img-raised">
                                            </div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-4">
                                                <img src="assets/img/products/p4/1-3-1.jpg" alt="" class="img-raised">
                                            </div>
                                            <div class="col-md-6">
                                                <img src="assets/img/products/p4/1-3-2.jpg" alt="" class="img-raised">
                                            </div>
                                            <div class="col-md-1"></div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                永磁式步進馬達
                            </ng-template>
                            <ng-template ngbTabContent>
                                <div class="row">
                                    <div class="col-md-12 ml-auto mr-auto">
                                        <div class="row collections">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-4">
                                                <img src="assets/img/products/p4/2-1-1.jpg" alt="" class="img-raised">
                                            </div>
                                            <div class="col-md-6">
                                                <img src="assets/img/products/p4/2-1-2.jpg" alt="" class="img-raised">
                                            </div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-4">
                                                <img src="assets/img/products/p4/2-2-1.jpg" alt="" class="img-raised">
                                            </div>
                                            <div class="col-md-6">
                                                <img src="assets/img/products/p4/2-2-2.jpg" alt="" class="img-raised">
                                            </div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-4">
                                                <img src="assets/img/products/p4/2-3-1.jpg" alt="" class="img-raised">
                                            </div>
                                            <div class="col-md-6">
                                                <img src="assets/img/products/p4/2-3-2.jpg" alt="" class="img-raised">
                                            </div>
                                            <div class="col-md-1"></div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                齒輪箱減速馬達
                            </ng-template>
                            <ng-template ngbTabContent>
                                <div class="row">
                                    <div class="col-md-10 ml-auto mr-auto">
                                            <div class="frame">
                                                <img src="assets/img/products/p4/3-1.jpg" alt="" class="img-raised">
                                                <img src="assets/img/products/p4/3-2.jpg" alt="" class="img-raised">
                                            </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                直流小馬達
                            </ng-template>
                            <ng-template ngbTabContent>
                                <div class="row">
                                    <div class="col-md-10 ml-auto mr-auto">
                                            <div class="frame">
                                                <img src="assets/img/products/p4/4-1.jpg" alt="" class="img-raised">
                                                <img src="assets/img/products/p4/4-2.jpg" alt="" class="img-raised">
                                            </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <div class="copyright">
                Copyright &copy; {{data | date: 'yyyy'}}
                <a style="color: white" href="https://maglu.com.tw/home" target="_blank">六磁實業有限公司</a>
            </div>
        </div>
    </footer>
</div>