<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/header2.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <!-- <div class="photo-container">
                    <img src="assets/img/ryan.jpg" alt="">
                </div> -->
                <h2 class="title">磁性工具</h2>
                <p class="category">Magnet Tools</p>
                <!-- <div class="content">
                    <div class="social-description">
                        <h2>26</h2>
                        <p>Comments</p>
                    </div>
                    <div class="social-description">
                        <h2>26</h2>
                        <p>Comments</p>
                    </div>
                    <div class="social-description">
                        <h2>48</h2>
                        <p>Bookmarks</p>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <!-- <div class="button-container">
                <a href="#button" class="btn btn-primary btn-round btn-lg">Follow</a>
                <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Twitter">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Instagram">
                    <i class="fa fa-instagram"></i>
                </a>
            </div> -->
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <div class="row collections">
                        <div class="col-md-4">
                            <img src="assets/img/products/p3/1.jpg" alt="" class="img-raised">
                            <img src="assets/img/products/p3/4.jpg" alt="" class="img-raised">
                        </div>
                        <div class="col-md-4">
                            <img src="assets/img/products/p3/2.jpg" alt="" class="img-raised">
                            <img src="assets/img/products/p3/5.jpg" alt="" class="img-raised">
                        </div>
                        <div class="col-md-4">
                            <img src="assets/img/products/p3/3.jpg" alt="" class="img-raised">
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-12">
                    <ngb-tabset [justify]="'center'" class="text-center">
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <i class="now-ui-icons design_image"></i>&nbsp;永久磁鐵
                            </ng-template>
                            <ng-template ngbTabContent>
                                <div class="row">
                                    <div class="col-md-10 ml-auto mr-auto">
                                        <div class="row collections">
                                            <div class="col-md-4">
                                                <img src="assets/img/magnet/p1/1.jpg" alt="" class="img-raised">
                                                <img src="assets/img/magnet/p1/4.jpg" alt="" class="img-raised">
                                            </div>
                                            <div class="col-md-4">
                                                <img src="assets/img/magnet/p1/2.jpg" alt="" class="img-raised">
                                                <img src="assets/img/magnet/p1/5.jpg" alt="" class="img-raised">
                                            </div>
                                            <div class="col-md-4">
                                                <img src="assets/img/magnet/p1/3.jpg" alt="" class="img-raised">
                                                <img src="assets/img/magnet/p1/6.jpg" alt="" class="img-raised">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <i class="now-ui-icons location_world"></i>&nbsp;磁鐵周邊
                            </ng-template>
                            <ng-template ngbTabContent>
                                <div class="row">
                                    <div class="col-md-10 ml-auto mr-auto">
                                        <div class="row collections">
                                            <div class="col-md-4">
                                                <img src="assets/img/magnet/p2/1.jpg" alt="" class="img-raised">
                                            </div>
                                            <div class="col-md-4">
                                                <img src="assets/img/magnet/p2/2.jpg" alt="" class="img-raised">
                                            </div>
                                            <div class="col-md-4">
                                                <img src="assets/img/magnet/p2/3.jpg" alt="" class="img-raised">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <i class="now-ui-icons sport_user-run"></i>&nbsp;磁性工具
                            </ng-template>
                            <ng-template ngbTabContent>
                                <div class="row">
                                    <div class="col-md-10 ml-auto mr-auto">
                                        <div class="row collections">
                                            <div class="col-md-4">
                                                <img src="assets/img/bg3.jpg" alt="" class="img-raised">
                                            </div>
                                            <div class="col-md-4">
                                                <img src="assets/img/bg7.jpg" alt="" class="img-raised">
                                            </div>
                                            <div class="col-md-4">
                                                <img src="assets/img/bg7.jpg" alt="" class="img-raised">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div> -->
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a [routerLink]="['/home']">
                            About Us
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy; {{data | date: 'yyyy'}}, Designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer>
</div>