<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/header2.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <!-- <div class="photo-container">
                    <img src="assets/img/ryan.jpg" alt="">
                </div> -->
                <h2 class="title">磁性工具</h2>
                <p class="category">Magnet Tools</p>
                <!-- <div class="content">
                    <div class="social-description">
                        <h2>26</h2>
                        <p>Comments</p>
                    </div>
                    <div class="social-description">
                        <h2>26</h2>
                        <p>Comments</p>
                    </div>
                    <div class="social-description">
                        <h2>48</h2>
                        <p>Bookmarks</p>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <!-- <div class="button-container">
                <a href="#button" class="btn btn-primary btn-round btn-lg">Follow</a>
                <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Twitter">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Instagram">
                    <i class="fa fa-instagram"></i>
                </a>
            </div> -->
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <div class="row collections">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="side front">
                                    <div class="cover">
                                        <img src="assets/img/products/p3/1.jpg" />
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <h3 class="name">手腕磁吸器</h3>
                                            <p class="profession">Magnetic Holder</p>
                                            <div class="footer">
                                                <h5 class="motto">"可空出雙手，方便工作"</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="side back">
                                    <div class="cover">
                                        <img src="assets/img/products/p3/1-1.jpg" />
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <h3 class="name">腰帶磁吸器</h3>
                                            <p class="profession">Magnetic Holder</p>
                                            <div class="footer">
                                                <h5 class="motto">"適用於高空，黑暗及單獨作業環境"</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="side front">
                                    <div class="cover">
                                        <img src="assets/img/products/p3/4.jpg" />
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <h3 class="name">磁性拖把</h3>
                                            <p class="profession">Magnetic Sweepers</p>
                                            <div class="footer">
                                                <h5 class="motto">"可以撿取空間大的場地金屬物品不費力"</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="side back">
                                    <div class="cover">
                                        <img src="assets/img/products/p3/4-1.jpg" />
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <div class="box-container">
                                                <div class="box-odd">
                                                    <h4>70~100</h4>
                                                    <p>
                                                        手把伸縮長度(cm)
                                                    </p>
                                                </div>
                                                <div class="box-even">
                                                    <h4 style="font-size: 1.2em;margin-bottom : 16px;">工廠、醫院</h4>
                                                    <p>
                                                        適用場所
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="side front">
                                    <div class="cover">
                                        <img src="assets/img/products/p3/2.jpg" />
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <h3 class="name">橡膠手把磁吸工具</h3>
                                            <p class="profession">Rubber Handle Magnetic Lifter</p>
                                            <div class="footer">
                                                <h5 class="motto">"方便移動鐵板，鐵管等鐵製品"</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="side back">
                                    <div class="cover">
                                        <img src="assets/img/products/p3/2.jpg" />
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <div class="box-container">
                                                <div class="box-even" style="width: 100%;">
                                                    <h4>35</h4>
                                                    <p>
                                                        吸重(kg)
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="side front">
                                    <div class="cover">
                                        <img src="assets/img/products/p3/5.jpg" />
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <h3 class="name">磁性節能器</h3>
                                            <p class="profession">Magnetic Fuel & Gas Saver</p>
                                            <div class="footer">
                                                <h5 class="motto">"利用強力磁鐵磁化汽油或瓦斯，產生最有效能源利用"</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="side back">
                                    <div class="cover">
                                        <img src="assets/img/products/p3/5-1.jpg" />
                                    </div>
                                    <div class="content">
                                            <div class="main">
                                                    <h4 class="text-center">原理</h4>
                                                    <p class="text-center">利用強力磁鐵磁化汽油或瓦斯，使分子分離整齊細緻化，達到完全的燃燒而產生最有效能源利用，易於安裝在油管及瓦斯管上。</p>
                                                </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="side front">
                                    <div class="cover">
                                        <img src="assets/img/products/p3/3.jpg" />
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <h3 class="name">磁性撿拾棒</h3>
                                            <p class="profession">Magnetic Pick Up Stick</p>
                                            <div class="footer">
                                                <h5 class="motto">"方便撿拾在死角、凹槽、深溝內的螺絲、鐵釘等小鐵件"</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="side back">
                                    <div class="cover">
                                        <img src="assets/img/products/p3/3-1.jpg" />
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <div class="box-container">
                                                <div class="box-odd">
                                                    <h4>0.5</h4>
                                                    <p>
                                                        吸重(kg)
                                                    </p>
                                                </div>
                                                <div class="box-even">
                                                    <h4>15~66</h4>
                                                    <p>
                                                        伸縮長度(cm)
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <div class="copyright">
                Copyright &copy; {{data | date: 'yyyy'}}
                <a style="color: white" href="https://maglu.com.tw/home" target="_blank">六磁實業有限公司</a>
            </div>
        </div>
    </footer>
</div>