<div class="wrapper">
  <div class="page-header page-header-small" filter-color="orange">
    <div
      class="page-header-image rellax-header"
      data-rellax-speed="-8"
      style="background-image: url('assets/img/header2.jpg')"
    ></div>
    <div class="container">
      <div class="content-center">
        <h2 class="title">磁鐵周邊產品</h2>
        <p class="category">Magnet Relative Products</p>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <!-- <div class="button-container">
                <a href="#button" class="btn btn-primary btn-round btn-lg">Follow</a>
                <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Twitter">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Instagram">
                    <i class="fa fa-instagram"></i>
                </a>
            </div> -->
      <div class="row">
        <div class="col-md-10 ml-auto mr-auto">
          <div class="row collections">
            <div class="col-md-4">
              <div class="card">
                <div class="side front">
                  <div class="cover">
                    <img src="assets/img/products/p2/1.jpg" />
                  </div>
                  <div class="content">
                    <div class="main">
                      <h3 class="name">磁極卡</h3>
                      <p class="profession">Magnetic Field Viewer</p>
                      <div class="footer">
                        <h5 class="motto">"可觀察磁鐵磁力線方向和磁極數"</h5>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="side back">
                  <div class="cover">
                    <img src="assets/img/products/p2/1-1.jpg" />
                  </div>
                  <div class="content">
                    <div class="main">
                      <div class="box-container">
                        <div class="box-odd">
                          <h4>30 * 30</h4>
                          <p>尺寸(cm)</p>
                        </div>
                        <div class="box-even">
                          <h4>7.5 * 5.0</h4>
                          <p>尺寸(cm)</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <div class="side front">
                  <div class="cover">
                    <img src="assets/img/products/p2/2.jpg" />
                  </div>
                  <div class="content">
                    <div class="main">
                      <h3 class="name">特斯拉計</h3>
                      <p class="profession">Tesla Meter</p>
                      <div class="footer">
                        <h5 class="motto">
                          "又稱高斯計，可以測量磁鐵磁力線的強弱"
                        </h5>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="side back">
                  <div class="cover">
                    <img src="assets/img/products/p2/2.jpg" />
                  </div>
                  <div class="content">
                    <div class="main">
                      <div class="box-container">
                        <div class="box-odd">
                          <h4>HT-20</h4>
                          <p>型號</p>
                        </div>
                        <div class="box-even">
                          <h4>0~10000</h4>
                          <p>測量範圍(高斯)</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <div class="side front">
                  <div class="cover">
                    <img src="assets/img/products/p2/3.jpg" />
                  </div>
                  <div class="content">
                    <div class="main">
                      <h3 class="name">DIY磁浮列車組</h3>
                      <p class="profession">Toy Maglev Trains</p>
                      <div class="footer">
                        <h5 class="motto">
                          "簡單的磁浮教學實驗包提供給九歲以上的學生孩童"
                        </h5>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="side back">
                  <div class="cover">
                    <img src="assets/img/products/p2/3-1.jpg" />
                  </div>
                  <div class="content">
                    <div class="main">
                      <h4 class="text-center">磁浮原理</h4>
                      <p class="text-center">
                        利用磁鐵相互間的斥力及吸力，產生磁浮現象，並加一小馬達可以驅動車子走不停。
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <div class="side front">
                  <div class="cover">
                    <img src="assets/img/products/p2/4.jpg" />
                  </div>
                  <div class="content">
                    <div class="main">
                      <h3 class="name">磁粉</h3>
                      <p class="profession">Magnetic Powder</p>
                      <div class="footer">
                        <h5 class="motto">
                          "一般常用於觀測磁場之磁力線方向、各種科學實驗及生活上各種開發應用"
                        </h5>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="side back">
                  <div class="cover">
                    <img src="assets/img/products/p2/4.jpg" />
                  </div>
                  <div class="content">
                    <div class="main">
                      <h4 class="text-center">磁粉</h4>
                      <p class="text-center">
                        是磁性塗料的核心組成，是決定磁記錄介質磁特性的主要因素。
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <div class="side front">
                  <div class="cover">
                    <img src="assets/img/products/p2/5.jpg" />
                  </div>
                  <div class="content">
                    <div class="main">
                      <h3 class="name">負磁能磁棒</h3>
                      <p class="profession">Magnetic Massager</p>
                      <div class="footer">
                        <h5 class="motto">
                          "負極磁能按摩棒可用來按摩及刺激穴道"
                        </h5>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="side back">
                  <div class="cover">
                    <img src="assets/img/products/p2/5.jpg" />
                  </div>
                  <div class="content">
                    <div class="main">
                      <h4 class="text-center">負磁能磁棒</h4>
                      <p class="text-center">
                        整支磁棒外殼為不銹鋼材質，用來按摩的兩端（尖端和鈍端）皆為負極，內部配有高磁能磁力。
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <div class="side front">
                  <div class="cover">
                    <img src="assets/img/products/p2/6.jpg" />
                  </div>
                  <div class="content">
                    <div class="main">
                      <h3 class="name">負磁能磁扣</h3>
                      <p class="profession">Magnetic Button</p>
                      <div class="footer">
                        <h5 class="motto">
                          "負極磁能磁扣每顆含有至少2300高斯負磁能量，可縫於坐墊或靠枕"
                        </h5>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="side back">
                  <div class="cover">
                    <img src="assets/img/products/p2/6.jpg" />
                  </div>
                  <div class="content">
                    <div class="main">
                      <h4 class="text-center">負磁能磁扣</h4>
                      <p class="text-center">
                        磁扣每顆含有至少2300高斯負磁能量，可用來縫於坐墊、靠枕或是平時睡覺用的枕頭。也可用來刺激穴道。
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
