<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/header2.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <!-- <div class="photo-container">
                    <img src="assets/img/ryan.jpg" alt="">
                </div> -->
                <h2 class="title">磁鐵周邊產品</h2>
                <p class="category">Magnet Relative Products</p>
                <!-- <div class="content">
                    <div class="social-description">
                        <h2>26</h2>
                        <p>Comments</p>
                    </div>
                    <div class="social-description">
                        <h2>26</h2>
                        <p>Comments</p>
                    </div>
                    <div class="social-description">
                        <h2>48</h2>
                        <p>Bookmarks</p>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <!-- <div class="button-container">
                <a href="#button" class="btn btn-primary btn-round btn-lg">Follow</a>
                <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Twitter">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Instagram">
                    <i class="fa fa-instagram"></i>
                </a>
            </div> -->
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <div class="row collections">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="side front">
                                    <div class="cover">
                                        <img src="assets/img/products/p2/1.jpg" />
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <h3 class="name">磁極卡</h3>
                                            <p class="profession">Magnetic Field Viewer</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="side back">
                                    <div class="header">
                                        <h5 class="motto">"可觀察磁鐵磁力線方向和磁極數"</h5>
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <h4 class="text-center">Job Description</h4>
                                            <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>

                                            <div class="stats-container">
                                                <div class="stats-odd">
                                                    <h4>235</h4>
                                                    <p>
                                                        Followers
                                                    </p>
                                                </div>
                                                <div class="stats-even">
                                                    <h4>114</h4>
                                                    <p>
                                                        Following
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="side front">
                                    <div class="cover">
                                        <img src="assets/img/products/p2/2.jpg" />
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <h3 class="name">特斯拉計</h3>
                                            <p class="profession">Gauss/Tesla Meter</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="side back">
                                    <div class="header">
                                        <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <h4 class="text-center">Job Description</h4>
                                            <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>

                                            <div class="stats-container">
                                                <div class="stats-odd">
                                                    <h4>235</h4>
                                                    <p>
                                                        Followers
                                                    </p>
                                                </div>
                                                <div class="stats-even">
                                                    <h4>114</h4>
                                                    <p>
                                                        Following
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="side front">
                                    <div class="cover">
                                        <img src="assets/img/products/p2/3.jpg" />
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <h3 class="name">DIY磁浮列車組</h3>
                                            <p class="profession">Toy Maglev Trains</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="side back">
                                    <div class="header">
                                        <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <h4 class="text-center">Job Description</h4>
                                            <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>
                                            <div class="stats-container">
                                                <div class="stats-odd">
                                                    <h4>235</h4>
                                                    <p>
                                                        Followers
                                                    </p>
                                                </div>
                                                <div class="stats-even">
                                                    <h4>114</h4>
                                                    <p>
                                                        Following
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a [routerLink]="['/home']">
                            About Us
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                Copyright &copy; {{data | date: 'yyyy'}}
                 <a style="color: white" href="https://maglu.com.tw/home" target="_blank">六磁實業有限公司</a>
            </div>
        </div>
    </footer>
</div>