.card {
    position : relative;
    text-align : center;
}

.side {
    position : absolute;
    left : 0;
    right : 0;
    background-color : #ffffff;
    border-radius : 20px;
    -webkit-backface-visibility : hidden;
       -moz-backface-visibility : hidden;
         -o-backface-visibility : hidden;
        -ms-backface-visibility : hidden;
            backface-visibility : hidden;
    -webkit-transition : -webkit-transform .5s;
       -moz-transition :    -moz-transform .5s;
         -o-transition :      -o-transform .5s;
        -ms-transition :         transform .5s;
            transition :         transform .5s;
    -webkit-transform-style : preserve-3d;
       -moz-transform-style : preserve-3d;
         -o-transform-style : preserve-3d;
        -ms-transform-style : preserve-3d;
            transform-style : preserve-3d;
    margin-bottom : 30px;
}
.back {
    -webkit-transform : rotateY( 180deg );
       -moz-transform : rotateY( 180deg );
         -o-transform : rotateY( 180deg );
        -ms-transform : rotateY( 180deg );
            transform : rotateY( 180deg );
}

.card:not(.manual-flip):hover .front, .card.hover.manual-flip .front {
    -webkit-transform : rotateY( 180deg );
       -moz-transform : rotateY( 180deg );
         -o-transform : rotateY( 180deg );
        -ms-transform : rotateY( 180deg );
            transform : rotateY( 180deg );
}
.card:not(.manual-flip):hover .back, .card.hover.manual-flip .back {
    -webkit-transform : rotateY( 0deg );
       -moz-transform : rotateY( 0deg );
         -o-transform : rotateY( 0deg );
        -ms-transform : rotateY( 0deg );
            transform : rotateY( 0deg );
}
.card.static:hover .front, .card.static.hover .back {
    -webkit-transform : none;
       -moz-transform : none;
         -o-transform : none;
            transform : none;
}
.card.static:hover .front, .card.static.hover .back {
    -webkit-transform : none;
       -moz-transform : none;
         -o-transform : none;
            transform : none;
}

/*        Style       */
.card {
    background : none repeat scroll 0 0 #ffffff;
    border-radius : 4px;
    color : #444444;
}
.card, .front, .back {
    width : 100%;
    height : 400px;
    border-radius : 4px;
}
.card .cover {
    max-height : 220px;
    overflow : hidden;
    border-radius : 4px 4px 0 0;
}
.card .cover img {
    width : 100%;
}

.card .user {
    border-radius : 50%;
    display : block;
    height : 120px;
    margin : -55px auto 0;
    overflow : hidden;
    width : 120px;
}
.card .user img {
    background : none repeat scroll 0 0 #ffffff;
    border : 4px solid #ffffff;
    width : 100%;
}

.card .content {
    background-color : rgba(0, 0, 0, 0);
    box-shadow : none;
    padding : 10px 20px 20px;
}
.card .content .main {
    min-height : 160px;
}
.card .back .content .main {
    height : 215px;
}
.card .name {
    font-size : 22px;
    line-height : 25px;
    margin : 30px 0 10px;
    text-align : center;
    text-transform : capitalize;
}
.card h5 {
    margin : 5px 0;
    font-weight : 400;
    line-height : 20px;
}
.card .profession {
    color : #999999;
    text-align : center;
    margin-bottom : 20px;
}

.card .footer {
    padding : 10px 20px;
    height : 90px;
}
.card .motto {
    border-top : 2px solid #eeeeee;
    color : #999999;
    font-size : 14px;
    font-weight : 400;
    padding-bottom : 10px;
    text-align : center;
    margin-bottom : 10px;
}

.box-container {
    width : 100%;
    margin-top : 50px;
}

.box-container p {
    margin-top : 10px;
}
.box-odd, .box-even {
    display : block;
    float : left;
    width : 50%;
    text-align : center;
    margin-bottom : 10%;
}

.box-odd {
    border-right : 1px solid #eeeeee;
}

.box-odd h4, .box-even h4 {
    font-size : 1.5em;
    font-weight : 200;
    margin-bottom : 5px;
}
.box-odd p, .box-even  p {
    color : #777777;
}
