<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/header.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <img class="n-logo" src="assets/img/now-logo.png" alt="">
                <h2 class="title">六磁實業有限公司</h2>
                <h4 style="font-weight: bold">CYLINMAC INDUSTRIAL CO.,LTD.</h4>
            </div>
        </div>
    </div>

    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">關於六磁</h2>
                    <h5 class="description text-left">
                        <p>
                            &emsp;&emsp;六磁實業有限公司專研製造磁性材料二十餘年，以電子零件、馬達電機、3C產品及無塵室磁軌輸送帶等工業電子領域為主。
                        </p>
                        <p>
                            &emsp;&emsp;近十年來更應客戶的要求，開發製造各種精密馬達以滿足市場的需求。本公司所有產品，均符合歐洲RoHs標準。並用專業的技術，以客為尊的服務態度，贏得國內外大廠及業界很高的評價。並歡迎各位的來訪。
                        </p>
                    </h5>
                </div>
            </div>
            <div class="separator separator-primary"></div>
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image-container image-left" style="background-image: url('assets/img/story1.jpg')">
                            <br>
                            <p class="blockquote blockquote-primary" style="font-size: 18px">六磁實業由一群在磁性材料領域有多年經驗的產經學專業人士共同創立。創立宗旨是利用磁性材料來研發做出各種領域所需的磁鐵。
                                <br>
                            </p>
                        </div>
                        <div class="image-container" style="background-image: url('assets/img/story2.jpg')">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="image-container image-right" style="background-image: url('assets/img/story3.jpg')"></div>
                        <h2 style="margin-top: 30px">磁石的應用</h2>
                        <p style="font-size: 20px">從早期的業界如電子、電機、五金、吸著、文教等，發展到目前應用於科技業界的磁浮、磁能、磁控、磁化、磁氣治療等，可以說隨著磁石性能的提昇，應用範圍也越來越廣泛</p>
                        <p style="font-size: 20px">磁性應用的產品小從日常生活產品中的手機、電腦光碟硬碟機之無刷馬達、音響喇叭、各式風扇、汽車零件、馬達、各式儀表，大到磁浮列車、航空航太用之零件，另外也在醫療設備及隨身保健用品上看見，所以磁性產品應用之廣隨處可見。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-product text-center">
        <div class="container">
            <h2 class="title">產品介紹</h2>
            <p>Products</p>
            <hr style="width:10%">

            <div class="product">
                <div class="row">
                    <div class="col-md-3">
                        <div class="product-category">
                            <a [routerLink]="['/magnets']">
                                <img src="assets/img/pro1.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            </a>
                            <h4 class="title">永久磁鐵</h4>
                            <p class="category text-primary">Magnets</p>
                            <!-- <p class="description">You can write here details about one of your team members. You can give more details about what
                                they do. Feel free to add some
                                <a href="#">links</a> for people to be able to follow them outside the site.</p> -->
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product-category">
                            <a [routerLink]="['/magnetic']">
                                <img src="assets/img/pro2.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            </a>
                            <h4 class="title">磁鐵周邊產品</h4>
                            <p class="category text-primary">Magnet Relative Products</p>
                            <!-- <p class="description">You can write here details about one of your team members. You can give more details about what
                                they do. Feel free to add some
                                <a href="#">links</a> for people to be able to follow them outside the site.</p> -->

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product-category">
                            <a [routerLink]="['/tools']">
                                <img src="assets/img/pro3.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            </a>
                            <h4 class="title">磁性工具</h4>
                            <p class="category text-primary">Magnet Tools</p>
                            <!-- <p class="description">You can write here details about one of your team members. You can give more details about what
                                they do. Feel free to add some
                                <a href="#">links</a> for people to be able to follow them outside the site.</p> -->
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product-category">
                            <img src="assets/img/pro4.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">精密馬達</h4>
                            <p class="category text-primary">Precise Motors</p>
                            <!-- <p class="description">You can write here details about one of your team members. You can give more details about what
                                they do. Feel free to add some
                                <a href="#">links</a> for people to be able to follow them outside the site.</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-basic" style="background-image: url('assets/img/header.jpg');">
        <div class="container text-center">
            <div class="row justify-content-md-center">
                <div class="col-sm-3" style="margin-bottom: 10px">
                    <h5 style="font-weight: bold">六磁實業有限公司</h5>
                    <hr width="20%">
                    <h6>六磁實業由一群在磁性材料領域有多年經驗的產經學專業人士共同創立，專研製造磁性材料二十餘年，以電子零件、馬達電機、3C產品及無塵室磁軌輸送帶等工業電子領域為主。</h6>
                </div>
                <div class="col-sm-3" style="margin-bottom: 10px">
                    <h5 style="font-weight: bold">服務項目</h5>
                    <hr width="20%">
                    <a [routerLink]="['/magnets']" style="color: white">
                        <h6>永久磁鐵</h6>
                    </a>
                    <a [routerLink]="['/magnetic']" style="color: white">
                        <h6>磁鐵周邊</h6>
                    </a>
                    <a [routerLink]="['/tools']" style="color: white">
                        <h6>磁性工具</h6>
                    </a>
                    <a [routerLink]="['/home']" style="color: white">
                        <h6>機密馬達</h6>
                    </a>
                </div>
                <div class="col-sm-3" style="margin-bottom: 10px">
                    <h5 style="font-weight: bold">聯絡我們</h5>
                    <hr width="20%">
                    <h6>電話: 02-2729-2936</h6>
                    <h6>傳真: 02-2729-2903</h6>
                    <h6 style="text-transform: lowercase">
                        <a href="mailto:lic@maglu.com.tw" style="color: #fff">E-mail: lic@maglu.com.tw</a>
                    </h6>
                    <h6>地址: 台北市信義路五段五號3E14室</h6>
                </div>

                <div class="col-sm-3">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.0240145342163!2d121.56013531418184!3d25.033259083972705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abb666cd1c85%3A0xf3397c2a08ffc6bf!2zMTEw5Y-w5YyX5biC5L-h576p5Y2A5L-h576p6Lev5LqU5q61NeiZnw!5e0!3m2!1szh-TW!2stw!4v1533018351187"
                        weight="300" height="200" frameborder="0" style="border:0" allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a [routerLink]="['/home']">
                            About Us
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                Copyright &copy; {{data | date: 'yyyy'}}
                 <a style="color: white" href="https://maglu.com.tw/home" target="_blank">六磁實業有限公司</a>
            </div>
        </div>
    </footer>
</div>