<div class="page-header page-header-small">
    <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/header.jpg');">
    </div>
    <div class="container">
        <div class="content-center">
            <img class="n-logo" src="assets/img/now-logo.png" alt="">
            <div class="title">六磁實業有限公司</div>
            <div class="sub-title">CYLINMAC INDUSTRIAL CO.,LTD.</div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ml-auto mr-auto text-center" style="margin-top: 50px">
                <div class="title">關於六磁</div>
                <div class="description">
                    <p>
                        &emsp;&emsp;六磁實業有限公司專研製造磁性材料二十餘年，以電子零件、馬達電機、3C產品及無塵室磁軌輸送帶等工業電子領域為主。
                    </p>
                    <p>
                        &emsp;&emsp;近十年來更應客戶的要求，開發製造各種精密馬達以滿足市場的需求。本公司所有產品，均符合歐洲RoHs標準。並用專業的技術，以客為尊的服務態度，贏得國內外大廠及業界很高的評價。並歡迎各位的來訪。
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section-about-us">
    <div class="container">
        <div class="section-story-overview">
            <div class="row">
                <div class="col-md-6">
                    <div class="image-container image-left" style="background-image: url('assets/img/story1.jpg')">
                        <br>
                        <p class="blockquote blockquote-primary" style="font-size: 18px">六磁實業由一群在磁性材料領域有多年經驗的產經學專業人士共同創立。創立宗旨是利用磁性材料來研發做出各種領域所需的磁鐵。
                            <br>
                        </p>
                    </div>
                    <div class="image-container" style="background-image: url('assets/img/story2.jpg')">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="image-container image-right" style="background-image: url('assets/img/story3.jpg')"></div>
                    <h2 style="margin-top: 30px">磁石的應用</h2>
                    <p style="font-size: 20px">從早期的業界如電子、電機、五金、吸著、文教等，發展到目前應用於科技業界的磁浮、磁能、磁控、磁化、磁氣治療等，可以說隨著磁石性能的提昇，應用範圍也越來越廣泛</p>
                    <p style="font-size: 20px">磁性應用的產品小從日常生活產品中的手機、電腦光碟硬碟機之無刷馬達、音響喇叭、各式風扇、汽車零件、馬達、各式儀表，大到磁浮列車、航空航太用之零件，另外也在醫療設備及隨身保健用品上看見，所以磁性產品應用之廣隨處可見。</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section section-product text-center" style="min-height: 650px">
    <div class="title" style="margin-bottom: 20px">產品介紹</div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="serviceBox blue">
                    <div class="service-content">
                        <div class="service-icon">
                            <i class="fa fa-magnet"></i>
                        </div>
                        <h3 class="title">永久磁鐵</h3>
                        <p class="description">
                            強力磁鐵、軟性橡膠磁鐵、精密微小磁鐵、耐高溫磁鐵、射出成形磁鐵、磁性齒輪
                        </p>
                    </div>
                    <a class="read-more" [routerLink]="['/magnets']">Read More</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="serviceBox blue">
                    <div class="service-content">
                        <div class="service-icon">
                            <i class="fa fa-shopping-basket"></i>
                        </div>
                        <h3 class="title">磁鐵周邊產品</h3>
                        <p class="description">
                            磁極卡、特斯拉計、DIY磁浮列車組
                        </p>
                    </div>
                    <a class="read-more" [routerLink]="['/magnetic']">Read More</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="serviceBox blue">
                    <div class="service-content">
                        <div class="service-icon">
                            <i class="fa fa-wrench"></i>
                        </div>
                        <h3 class="title">磁性工具</h3>
                        <p class="description">
                            磁吸器、橡膠手把磁吸工具、磁性撿拾棒、磁性拖把、磁性節能器
                        </p>
                    </div>
                    <a class="read-more" [routerLink]="['/tools']">Read More</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="serviceBox blue">
                    <div class="service-content">
                        <div class="service-icon">
                            <i class="fa fa-gear"></i>
                        </div>
                        <h3 class="title">精密馬達</h3>
                        <p class="description">
                            混合式步進馬達、永磁式步進馬達、齒輪箱減速馬達、直流小馬達
                        </p>
                    </div>
                    <a class="read-more" [routerLink]="['/motor']">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section" style="background-image: url('assets/img/header.jpg'); height: 200px;">
</div>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="footer-title">六磁實業有限公司</div>
                <div class="footer-sub-title">CYLINMAC INDUSTRIAL CO.,LTD.</div>
            </div>
            <div class="footer-info col-md-3">
            <ul >
                <li><span>地址:&nbsp;</span>台北市信義路五段五號3E14室</li><br>
                <li><span>電話:&nbsp;</span>02-2729-2936</li><br>
                <li><span>傳真:&nbsp;</span>02-2729-2903</li><br>
                <li><span>Email:&nbsp;</span><a href="mailto:lic@maglu.com.tw">lic@maglu.com.tw</a></li>
            </ul>
            </div>

            <div class="copyright col-md-6">
                Copyright &copy; {{data | date: 'yyyy'}}
                <a style="color: white" href="https://maglu.com.tw/home" target="_blank">六磁實業有限公司</a>
            </div>
        </div>
    </div>
</footer>