<div class="wrapper">
    <div class="page-header clear-filter" filter-color="blue">
        <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/header.jpg');">

        </div>
        <div class="container">
            <div class="content-center brand">
                <img class="n-logo" src="assets/img/now-logo.png" alt="">
                <h1 class="h1-seo">六磁實業有限公司</h1>
                <h3 style="font-weight: bold">CYLINMAC INDUSTRIAL CO.,LTD.</h3>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="section">
            <div class="container text-center">
                <div class="row justify-content-md-center">
                    <div class="col-sm-6" id="carousel">
                        <ngb-carousel>
                            <ng-template ngbSlide>
                                <img class="d-block" src="assets/img/header.jpg" alt="First slide">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Nature, United States</h5>
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <img class="d-block" src="assets/img/bg3.jpg" alt="Second slide">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Somewhere Beyond, United States</h5>
                                </div>
                            </ng-template>
                        </ngb-carousel>
                    </div>

                    <div class="col-sm-6">
                        <h2 class="title">關於六磁</h2>
                        <hr style="width:10%">
                        <h5 class="description text-left">
                            <p>&emsp;&emsp;六磁實業有限公司專研製造磁性材料二十餘年，以電子零件、馬達電機、3C產品及無塵室磁軌輸送帶等工業電子領域為主。近十年來更應客戶的要求，開發製造各種精密馬達以滿足市場的需求。本公司所有產品，均符合RoHs標準。並用專業的技術，以客為尊的服務態度，贏得國內外大廠及業界很高的評價。並歡迎各位的來訪。</p>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-basic">
            <div class="container text-center">
                <div id="images">
                    <h2 class="title">產品種類</h2>
                    <hr>
                    <div class="row justify-content-md-center">
                        <div class="col-sm-3">
                            <h5>
                                <p class="title">永久磁鐵(強力磁鐵)</p>
                            </h5>
                            <!-- <img src="assets/img/avatar.jpg" alt="Rounded Image" class="rounded"> -->
                            <img src="assets/img/pro1.jpg" alt="Rounded Image" class="rounded">
                        </div>
                        <div class="col-sm-3">
                            <h5>
                                <p class="title">磁鐵周邊產品</p>
                            </h5>
                            <!-- <p class="category ">磁鐵周邊產品</p> -->
                            <img src="assets/img/pro2.jpg" alt="Circle Image" class="rounded">
                        </div>
                        <div class="col-sm-3">
                            <h5>
                                <p class="title">精密馬達</p>
                            </h5>
                            <!-- <p class="category text-info">精密馬達</p> -->
                            <img src="assets/img/pro3.jpg" alt="Raised Image" class="rounded">
                        </div>
                        <div class="col-sm-3">
                            <h5>
                                <p class="title">磁性工具</p>
                            </h5>
                            <!-- <p class="category text-info">磁性工具</p> -->
                            <img src="assets/img/pro4.jpg" alt="Thumbnail Image" class="rounded">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-basic">
            <div class="container text-center">
                <div class="row justify-content-md-center">
                    <div class="col-xs-12 col-md-10">
                        <h2 class="title">聯絡我們</h2>
                        <hr>

                    </div>
                    <div class="col-sm-6">
                        <h5>地址: 台北市信義路五段五號3E14室</h5>   
                        <h5>電話: 02-2729-2936</h5>
                        <h5>傳真: 02-2729-2903</h5>
                        <h5>E-mail: lic@maglu.com.tw</h5>
                        </div>
                    <div class="col-sm-6">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.0240145342163!2d121.56013531418184!3d25.033259083972705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abb666cd1c85%3A0xf3397c2a08ffc6bf!2zMTEw5Y-w5YyX5biC5L-h576p5Y2A5L-h576p6Lev5LqU5q61NeiZnw!5e0!3m2!1szh-TW!2stw!4v1533018351187"
                            width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer" data-background-color="black">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/about-us">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy; {{data | date: 'yyyy'}}, Designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer>
</div>