<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" placement="bottom">
                <img class="img-logo" src="assets/img/logo.png">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/home']">
                        <p>首頁</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/history']">
                        <p>歷史沿革</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/magnets']" data-original-title="product category">
                        <p>永久磁鐵</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/magnetic']" data-original-title="product category">
                        <p>磁鐵周邊產品</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/tools']" data-original-title="product category">
                        <p>磁性工具</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/motor']" data-original-title="product category">
                        <p>精密馬達</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/contact']">
                        <p>聯絡我們</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>