<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/header2.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <!-- <div class="photo-container">
                    <img src="assets/img/ryan.jpg" alt="">
                </div> -->
                <h2 class="title">永久磁鐵</h2>
                <p class="category">Magnets</p>
                <!-- <div class="content">
                    <div class="social-description">
                        <h2>26</h2>
                        <p>Comments</p>
                    </div>
                    <div class="social-description">
                        <h2>26</h2>
                        <p>Comments</p>
                    </div>
                    <div class="social-description">
                        <h2>48</h2>
                        <p>Bookmarks</p>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <div class="row collections">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="side front">
                                    <div class="cover">
                                        <img src="assets/img/products/p1/1.jpg" />
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <h3 class="name">強力磁鐵</h3>
                                            <p class="profession">High Energy Magnets</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="side back">
                                    <div class="header">
                                        <!-- <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5> -->
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <!-- <h4 class="text-center">Job Description</h4> -->
                                            <p class="text-center">由稀土元素合金所組成的強力永久磁鐵，其中最常見的有釹磁鐵（也稱做釹鐵硼磁鐵，現今磁性最強的永久磁鐵，也是最常使用的稀土磁鐵）及釤鈷磁鐵 (耐高溫磁鐵)。</p>

                                            <div class="stats-container">
                                                <div class="stats-odd">
                                                    <h4>24~50</h4>
                                                    <p>
                                                        磁能積(MGOe)
                                                    </p>
                                                </div>
                                                <div class="stats-even">
                                                    <h4>電鍍鎳或鋅</h4>
                                                    <p>
                                                        表面處理
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="side front">
                                    <div class="cover">
                                        <img src="assets/img/products/p1/4.jpg" />
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <h3 class="name">耐高溫磁鐵</h3>
                                            <p class="profession">High Temperature Magnets</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="side back">
                                    <div class="header">
                                        <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <h4 class="text-center">Job Description</h4>
                                            <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>

                                            <div class="stats-container">
                                                <div class="stats-odd">
                                                    <h4>235</h4>
                                                    <p>
                                                        Followers
                                                    </p>
                                                </div>
                                                <div class="stats-even">
                                                    <h4>114</h4>
                                                    <p>
                                                        Following
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="side front">
                                    <div class="cover">
                                        <img src="assets/img/products/p1/2.jpg" />
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <h3 class="name">軟性橡膠磁鐵</h3>
                                            <p class="profession">Flexible Rubber Magnets</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="side back">
                                    <div class="header">
                                        <!-- <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5> -->
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <!-- <h4 class="text-center">Job Description</h4> -->
                                            <p class="text-center">表面處理：可貼自黏雙面膠，PVC或相片紙</p>
                                            <div class="stats-container">
                                                <p>片狀</p>
                                                <div class="stats-odd">
                                                    <h4>0.3~5.0</h4>
                                                    <p>
                                                        厚度(mm)
                                                    </p>
                                                </div>
                                                <div class="stats-even">
                                                    <h4>600</h4>
                                                    <p>
                                                        寬度(mm)
                                                    </p>
                                                </div>      
                                                <p>條狀</p>                                          
                                                <div class="stats-odd">
                                                    <h4>0.3~5.0</h4>
                                                    <p>
                                                        厚度(mm)
                                                    </p>
                                                </div>
                                                <div class="stats-even">
                                                    <h4>600</h4>
                                                    <p>
                                                        寬度(mm)
                                                    </p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="side front">
                                    <div class="cover">
                                        <img src="assets/img/products/p1/5.jpg" />
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <h3 class="name">射出成型磁鐵</h3>
                                            <p class="profession">Injection Molded Magnets</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="side back">
                                    <div class="header">
                                        <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <h4 class="text-center">Job Description</h4>
                                            <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>

                                            <div class="stats-container">
                                                <div class="stats-odd">
                                                    <h4>235</h4>
                                                    <p>
                                                        Followers
                                                    </p>
                                                </div>
                                                <div class="stats-even">
                                                    <h4>114</h4>
                                                    <p>
                                                        Following
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="side front">
                                    <div class="cover">
                                        <img src="assets/img/products/p1/3.jpg" />
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <h3 class="name">精密微小磁鐵</h3>
                                            <p class="profession">Precise Tiny thin wall Magnets</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="side back">
                                    <div class="header">
                                        <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <h4 class="text-center">Job Description</h4>
                                            <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>

                                            <div class="stats-container">
                                                <div class="stats-odd">
                                                    <h4>235</h4>
                                                    <p>
                                                        Followers
                                                    </p>
                                                </div>
                                                <div class="stats-even">
                                                    <h4>114</h4>
                                                    <p>
                                                        Following
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="side front">
                                    <div class="cover">
                                        <img src="assets/img/products/p1/6.jpg" />
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <h3 class="name">磁性齒輪</h3>
                                            <p class="profession">MagGear</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="side back">
                                    <div class="header">
                                        <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <h4 class="text-center">Job Description</h4>
                                            <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>

                                            <div class="stats-container">
                                                <div class="stats-odd">
                                                    <h4>235</h4>
                                                    <p>
                                                        Followers
                                                    </p>
                                                </div>
                                                <div class="stats-even">
                                                    <h4>114</h4>
                                                    <p>
                                                        Following
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a [routerLink]="['/home']">
                            About Us
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                Copyright &copy; {{data | date: 'yyyy'}}
                 <a style="color: white" href="https://maglu.com.tw/home" target="_blank">六磁實業有限公司</a>
            </div>
        </div>
    </footer>
</div>