<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/header2.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <!-- <div class="photo-container">
                    <img src="assets/img/ryan.jpg" alt="">
                </div> -->
                <h2 class="title">永久磁鐵</h2>
                <p class="category">Magnets</p>
                <!-- <div class="content">
                    <div class="social-description">
                        <h2>26</h2>
                        <p>Comments</p>
                    </div>
                    <div class="social-description">
                        <h2>26</h2>
                        <p>Comments</p>
                    </div>
                    <div class="social-description">
                        <h2>48</h2>
                        <p>Bookmarks</p>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <div class="row collections">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="side front">
                                    <div class="cover">
                                        <img src="assets/img/products/p1/1.jpg" />
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <h3 class="name">強力磁鐵</h3>
                                            <p class="profession">High Energy Magnets</p>
                                            <div class="footer">
                                                <h5 class="motto">"釹鐵硼磁鐵，現今磁性最強的永久磁鐵，表面電鍍鎳或鋅"</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="side back">
                                    <div class="cover">
                                        <img src="assets/img/products/p1/1-1.jpg" />
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <div class="box-container">
                                                <div class="box-odd">
                                                    <h4>24~50</h4>
                                                    <p>
                                                        磁能積(MGOe)
                                                    </p>
                                                </div>
                                                <div class="box-even">
                                                    <h4>鎳或鋅</h4>
                                                    <p>
                                                        表面電鍍
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="side front">
                                    <div class="cover">
                                        <img src="assets/img/products/p1/4.jpg" />
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <h3 class="name">耐高溫磁鐵</h3>
                                            <p class="profession">High Temperature Magnets</p>
                                            <div class="footer">
                                                <h5 class="motto">"釤鈷磁鐵，穩定性高，具有很強的抗腐蝕和抗氧化性"</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="side back">
                                    <div class="cover">
                                        <img src="assets/img/products/p1/1-1.jpg" />
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <div class="box-container">
                                                <div class="box-odd">
                                                    <h4>350~500</h4>
                                                    <p>
                                                        耐溫(℃)
                                                    </p>
                                                </div>
                                                <div class="box-even">
                                                    <h4>釤、鈷</h4>
                                                    <p>
                                                        材料
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="side front">
                                    <div class="cover">
                                        <img src="assets/img/products/p1/2.jpg" />
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <h3 class="name">軟性橡膠磁鐵</h3>
                                            <p class="profession">Flexible Rubber Magnets</p>
                                            <div class="footer">
                                                <h5 class="motto">"軟磁鐵，可黏貼於雙面膠，PVC或紙張上"</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="side back">
                                    <div class="content">
                                        <div class="main">
                                            <p class="text-center"></p>
                                            <div class="box-container">
                                                <p>
                                                    <b>片狀</b>
                                                </p>
                                                <div class="box-odd">
                                                    <h4>0.3~5.0</h4>
                                                    <p>
                                                        厚度(mm)
                                                    </p>
                                                </div>
                                                <div class="box-even">
                                                    <h4>600</h4>
                                                    <p>
                                                        寬度(mm)
                                                    </p>
                                                </div>
                                                <p>
                                                    <b>條狀</b>
                                                </p>
                                                <div class="box-odd">
                                                    <h4>0.3~5.0</h4>
                                                    <p>
                                                        厚度(mm)
                                                    </p>
                                                </div>
                                                <div class="box-even">
                                                    <h4>600</h4>
                                                    <p>
                                                        寬度(mm)
                                                    </p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="side front">
                                    <div class="cover">
                                        <img src="assets/img/products/p1/5.jpg" />
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <h3 class="name">射出成型磁鐵</h3>
                                            <p class="profession">Injection Molded Magnets</p>
                                            <div class="footer">
                                                <h5 class="motto">"形狀多樣化，可植入射出"</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="side back">
                                    <div class="cover">
                                        <img src="assets/img/products/p1/5.jpg" />
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <div class="box-container">
                                                <div class="box-odd">
                                                    <h4>多樣化</h4>
                                                    <p>
                                                        形狀
                                                    </p>
                                                </div>
                                                <div class="box-even">
                                                    <h4>植入射出</h4>
                                                    <p>
                                                        加工
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="side front">
                                    <div class="cover">
                                        <img src="assets/img/products/p1/3.jpg" />
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <h3 class="name">精密微小磁鐵</h3>
                                            <p class="profession">Precise Tiny thin wall Magnets</p>
                                            <div class="footer">
                                                <h5 class="motto">"體積小，可用於裝飾品加工"</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="side back">
                                    <div class="content">
                                        <div class="main">
                                            <div class="box-container">
                                                <p>
                                                    <b>圓形</b>
                                                </p>
                                                <div class="box-odd">
                                                    <h4>0.5</h4>
                                                    <p>
                                                        直徑(mm)
                                                    </p>
                                                </div>
                                                <div class="box-even">
                                                    <h4>0.25</h4>
                                                    <p>
                                                        厚度(mm)
                                                    </p>
                                                </div>
                                                <p>
                                                    <b>長方形</b>
                                                </p>
                                                <div class="box-odd" style="width: 33%">
                                                    <h4>1.0</h4>
                                                    <p>
                                                        長度(mm)
                                                    </p>
                                                </div>
                                                <div class="box-odd" style="width: 33%">
                                                    <h4>0.5</h4>
                                                    <p>
                                                        寬度(mm)
                                                    </p>
                                                </div>
                                                <div class="box-even" style="width: 33%">
                                                    <h4>0.5</h4>
                                                    <p>
                                                        高度(mm)
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="side front">
                                    <div class="cover">
                                        <img src="assets/img/products/p1/6.jpg" />
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <h3 class="name">磁性齒輪</h3>
                                            <p class="profession">MagGear</p>
                                            <div class="footer">
                                                <h5 class="motto">"利用非接觸式的二個磁鐵相吸相斥帶動輸送，不具傳統齒輪齒型"</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="side back">
                                    <div class="cover">
                                        <img src="assets/img/products/p1/6.jpg" />
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <div class="box-container">
                                                <div class="box-even" style="width: 100%">
                                                    <h4>無塵室輸送帶設備</h4>
                                                    <p>
                                                        用途
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <div class="copyright">
                Copyright &copy; {{data | date: 'yyyy'}}
                <a style="color: white" href="https://maglu.com.tw/home" target="_blank">六磁實業有限公司</a>
            </div>
        </div>
    </footer>
</div>