<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/header.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <img class="n-logo" src="assets/img/now-logo.png" alt="">
                <h2 class="title">六磁實業有限公司</h2>
                <h4 style="font-weight: bold">CYLINMAC INDUSTRIAL CO.,LTD.</h4>
            </div>
        </div>
    </div>
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">關於六磁</h2>
                    <h5 class="description text-left">
                        <p>
                            &emsp;&emsp;六磁實業有限公司專研製造磁性材料二十餘年，以電子零件、馬達電機、3C產品及無塵室磁軌輸送帶等工業電子領域為主。
                        </p>
                        <p>
                            &emsp;&emsp;近十年來更應客戶的要求，開發製造各種精密馬達以滿足市場的需求。本公司所有產品，均符合RoHs標準。並用專業的技術，以客為尊的服務態度，贏得國內外大廠及業界很高的評價。並歡迎各位的來訪。
                        </p>
                    </h5>
                </div>
            </div>
            <div class="separator separator-primary"></div>
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image-container image-left" style="background-image: url('assets/img/story1.jpg')">
                            <!-- <p class="blockquote blockquote-primary">"Over the span of the satellite record, Arctic sea ice has been declining significantly, while
                                    sea ice in the Antarctichas increased very slightly"
                                    <br>
                                    <br>
                                    <small>-NOAA</small>
                                </p> -->
                        </div>
                        <div class="image-container" style="background-image: url('assets/img/story2.jpg')">

                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="image-container image-right" style="background-image: url('assets/img/story3.jpg')"></div>
                        <h3>About Us</h3>
                        <p>CYLINMAC Industrial Co.., Ltd (CIC) is a leading magnets manufacturer and exporter in Taiwan.</p>
                        <p>We supply a variety of magnets more then 20 years, specialized in the high energy, thin wall magnets.</p>
                        <p>Our in house multi-poles fixtures production ability can support the engineers designs.</p>
                        <p>CIC expand the service to HB & PM stepping motor and Gear motor years ago, the unit quality and short
                            delivery time are so appreciated by the customers.</p>
                        <p>All the material are meet the RoHs standard and production according to ISO 9001.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-product text-center">
        <div class="container">
            <h2 class="title">產品介紹</h2>
            <p>Product</p>
            <hr style="width:10%">

            <div class="product">
                <div class="row">
                    <div class="col-md-3">
                        <div class="product-category">
                            <img src="assets/img/pro1.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">永久磁鐵</h4>
                            <p class="category text-primary">Magnets</p>
                            <!-- <p class="description">You can write here details about one of your team members. You can give more details about what
                                    they do. Feel free to add some
                                    <a href="#">links</a> for people to be able to follow them outside the site.</p>
                                <a class="btn btn-primary btn-icon btn-round">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a class="btn btn-primary btn-icon btn-round">
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <a class="btn btn-primary btn-icon btn-round">
                                    <i class="fa fa-facebook-square"></i>
                                </a> -->
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product-category">
                            <img src="assets/img/pro2.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">磁鐵周邊產品</h4>
                            <p class="category text-primary">Magnet Products</p>
                            <!-- <p class="description">You can write here details about one of your team members. You can give more details about what
                                    they do. Feel free to add some
                                    <a href="#">links</a> for people to be able to follow them outside the site.</p>
                                <a class="btn btn-primary btn-icon btn-round">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a class="btn btn-primary btn-icon btn-round">
                                    <i class="fa fa-linkedin"></i>
                                </a> -->
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product-category">
                            <img src="assets/img/pro3.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">精密馬達</h4>
                            <p class="category text-primary">Precise Motors</p>
                            <!-- <p class="description">You can write here details about one of your team members. You can give more details about what
                                    they do. Feel free to add some
                                    <a href="#">links</a> for people to be able to follow them outside the site.</p>
                                <a class="btn btn-primary btn-icon btn-round">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                <a class="btn btn-primary btn-icon btn-round">
                                    <i class="fa fa-youtube-play"></i>
                                </a>
                                <a class="btn btn-primary btn-icon btn-round">
                                    <i class="fa fa-twitter"></i>
                                </a> -->
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product-category">
                            <img src="assets/img/pro4.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">磁性工具</h4>
                            <p class="category text-primary">Magnet Tools</p>
                            <!-- <p class="description">You can write here details about one of your team members. You can give more details about what
                                    they do. Feel free to add some
                                    <a href="#">links</a> for people to be able to follow them outside the site.</p>
                                <a class="btn btn-primary btn-icon btn-round">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                <a class="btn btn-primary btn-icon btn-round">
                                    <i class="fa fa-youtube-play"></i>
                                </a>
                                <a class="btn btn-primary btn-icon btn-round">
                                    <i class="fa fa-twitter"></i>
                                </a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-basic" style="background-image: url('assets/img/header.jpg');">
        <div class="container text-center">
            <div class="row justify-content-md-center">
                <div class="col-sm-3" style="margin-bottom: 10px">
                    <h5 style="font-weight: bold">六磁實業有限公司</h5>
                    <hr width="20%">
                    <h6>六磁專研製造磁性材料二十餘年，以電子零件、馬達電機、3C產品及無塵室磁軌輸送帶等工業電子領域為主。</h6>
                </div>
                <div class="col-sm-3" style="margin-bottom: 10px">
                    <h5 style="font-weight: bold">服務項目</h5>
                    <hr width="20%">
                    <a [routerLink]="['/category']" style="color: white">
                        <h6>永久磁鐵</h6>
                    </a>
                    <a [routerLink]="['/category']" style="color: white">
                        <h6>磁鐵周邊</h6>
                    </a>
                    <a [routerLink]="['/category']" style="color: white">
                        <h6>機密馬達</h6>
                    </a>
                    <a [routerLink]="['/category']" style="color: white">
                        <h6>磁性工具</h6>
                    </a>
                </div>
                <div class="col-sm-3" style="margin-bottom: 10px">
                    <h5 style="font-weight: bold">聯絡我們</h5>
                    <hr width="20%">
                    <h6>電話: 02-2729-2936</h6>
                    <h6>傳真: 02-2729-2903</h6>
                    <h6 style="text-transform: lowercase">E-mail: lic@maglu.com.tw</h6>
                    <h6>地址: 台北市信義路五段五號3E14室</h6>
                </div>

                <div class="col-sm-3">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.0240145342163!2d121.56013531418184!3d25.033259083972705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abb666cd1c85%3A0xf3397c2a08ffc6bf!2zMTEw5Y-w5YyX5biC5L-h576p5Y2A5L-h576p6Lev5LqU5q61NeiZnw!5e0!3m2!1szh-TW!2stw!4v1533018351187"
                        weight="300" height="200" frameborder="0" style="border:0" allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a [routerLink]="['/index']">
                            About Us
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy; {{data | date: 'yyyy'}}, Designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer>
</div>