<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/header2.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <h2 class="title">聯絡我們</h2>
                <p class="category">contact us</p>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="email-signature">
                        <div class="signature-icon">
                            <i class="fa fa-magnet"></i>
                        </div>
                        <div class="signature-detail">
                            <h2 class="title">六磁實業有限公司</h2>
                            <span class="post">LUCY INDUSTRIAL CO.,LTD</span>
                        </div>
                        <ul class="signature-content">
                            <li><span>電話</span>+886-2-2729-2936</li>
                            <li><span>Email</span><a href="mailto:lic@maglu.com.tw">lic@maglu.com.tw</a></li>
                            <li><span>地址</span>241 新北市三重區重新路1段160號21樓</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="map-container">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.1520185276045!2d121.49791141484243!3d25.062836183958865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a92285311f3f%3A0x16be14286557a9cb!2zMjQx5paw5YyX5biC5LiJ6YeN5Y2A6YeN5paw6Lev5LiA5q61MTYw6Jmf!5e0!3m2!1szh-TW!2stw!4v1566493172137!5m2!1szh-TW!2stw"
                            width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>