<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/header2.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <h2 class="title">歷史沿革</h2>
                <p class="category">history</p>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-timeline">
                        <div class="timeline">
                            <div class="timeline-content">
                                <span class="year">2017</span>
                                <span class="post">開發磁性健康保健產品</span>
                                <!-- <p class="description">開發磁性健康保健產品</p> -->
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <span class="year">2014</span>
                                <span class="post">與設備廠共同設計開發磁性發電及節能設施</span>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <span class="year">2010</span>
                                <span class="post">開發一系列磁性教育及實驗器材</span>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <span class="year">2005</span>
                                <span class="post">開發一系列無接觸磁性滾輪，供應國內外無塵室設備知名大廠，可用於3代到10代面板廠商</span>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <span class="year">2003</span>
                                <span class="post">供應步進馬達，應用於條碼機及列印機</span>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <span class="year">2001</span>
                                <span class="post">開發超薄型環型磁鐵供應主軸馬達及步進馬達業界使用</span>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <span class="year">2000</span>
                                <span class="post">強力橡膠磁片，供應植球機使用</span>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <span class="year">1999</span>
                                <span class="post">全世界最小，一次成型手錶機芯用的環形磁鐵</span>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <span class="year">1998</span>
                                <span class="post">引進強力磁粉</span>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <span class="year">1997</span>
                                <span class="post">橡膠磁鐵、射出磁鐵</span>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <span class="year">1996</span>
                                <span class="post">製造供應等方性及異方性燒結磁鐵</span>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <span class="year">1995</span>
                                <span class="post">公司成立</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <div class="copyright">
                Copyright &copy; {{data | date: 'yyyy'}}
                <a style="color: white" href="https://maglu.com.tw/home" target="_blank">六磁實業有限公司</a>
            </div>
        </div>
    </footer>
</div>