.footer {
    min-height: 60px;
    ul {
        margin-bottom : 0;
        padding : 0;
        list-style : none;

        li {
            left : -100px;
            font-size : .8rem;
            display : inline-block;
        }
    }
    .copyright {
        min-height: 50px;
    }
    .footer-title {
        margin-bottom : 0px;
        margin-top : 10px;
        font-size : 1.3rem;
        text-align : right;
    }
    .footer-sub-title {
        font-size : .6rem;
        text-align : right;
    }
    .copyright {
        display : flex;
        align-items : center;
    }
}
@media only screen and (max-width:767px) {
    .footer .copyright {
        justify-content : center;
    }
    .footer-title, .footer-sub-title, .footer-info {
        display : none;
    }
}