.landing-page {
    .title {
        font-size : 2.0rem;
        margin-bottom : 20px;
    }

    .sub-title {
        font-size : 1.2rem;
        font-weight : bold;
    }

    .section {
        .description {
            text-align : left;
            p {
                line-height : 1.61em;
                font-size : 1.4em;
            }
        }
    }

    .section-product {
        .product .product-category img {
            max-width : 150px;
        }

        .team-player {
            margin-bottom : 15px;
        }
    }

    .section-contact-us {
        .title {
            margin-bottom : 15px;
        }

        .description {
            font-size : 2.0rem;
            margin-bottom : 30px;
        }

        .input-group, .send-button, .textarea-container {
            padding : 0 40px;
        }

        .textarea-container {
            margin : 40px 0;
        }

        a.btn {
            margin-top : 35px;
        }
    }
}

@media screen and (min-width: 500px) {
    .n-logo {
        max-width : 100px;
        margin-bottom : 20px;
    }
}

@media screen and (min-width: 300px) and (max-width: 500px) {
    .n-logo {
        max-width : 80px;
        margin-bottom : 15px;
    }
}
